.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  z-index: 100;
  display: grid;
  grid-template-columns: 50px auto 50px;
  justify-items: center;
  align-items: center;
  color: white;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  color: white;
  font-size: 1.5 rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.img {
  width: 90vh;
  height: 90vh;
  aspect-ratio: 1 / 1;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.control {
  padding: 1rem;
  font-size: 4rem;
}

.svgControl {
  stroke-width: 10;
  stroke: white;
  transition-property: all;
  transition-duration: 333ms;
}

.svgControl:hover {
  stroke-width: 30;
  stroke: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.active {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 333ms;
}

.inactive {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 333ms;
}
