.svgHolder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  user-select: none;
  -moz-user-select: none;
  pointer-events: none;
  z-index: -100;
  background-image: linear-gradient(3deg, #ff63f3, transparent);
  background-repeat: no-repeat;
  background-color: #06b4d3;
}
