.card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  width: 220px;
  height: 220px;
  transform: scale(1);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
  filter: saturate(0.2);
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}

.card:hover {
  transform: translateY(-10px) scale(1.1);
  filter: saturate(1);
  border: 10px solid rgba(255, 255, 255, 0.6);
}

.card > a {
  color: black;
  text-decoration: none;
}

.imageHolder {
  width: 200px;
  height: 200px;
  background: transparent;
}

.textHolder {
  width: 100%;
  text-align: center;
  margin: 1rem auto;
}
